<ng-container *ngIf="guild$ | async as guild">
  <aside>
    <div class="guild-card">
      <app-avatar [src]="guild.icon_url" [alt]="guild.discord_name"></app-avatar>
      <div class="guild-description-container">
        <h1>{{ guild.discord_name }}</h1>
        <p *ngIf="guild.wow_guild">
          <span>{{ guild.wow_guild.realm?.name }}</span>
          &mdash;
          <span>{{ guild.wow_guild.name }}</span>
        </p>
      </div>
    </div>
  </aside>

  <div id="guild-event-container">
    <section>
      <h1>Events</h1>
      <guild-event-table [events]="guild.events" (eventCreated)="createGuildEvent(guild, $event)"></guild-event-table>
    </section>

    <section>
      <h1>Debug</h1>
      <pre>{{ guild | json }}</pre>
    </section>
  </div>
</ng-container>
