# Database
datetime
python-dateutil
discord
pytz
tinydb_serialization
tinydb

# For Blizzard
python-wowapi

# For web
flask
flask_sqlalchemy
sqlalchemy_serializer
wtforms
WTForms-JSON
werkzeug

# For scripts
tabulate
tqdm