# Database
datetime
discord
pytz
tinydb_serialization
tinydb

# For sheets
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# For Blizzard
python-wowapi

# For web
flask

# For scripts
tabulate