<ng-container *ngIf="guild$ | async as guild">
  <aside id="guild-card">
    <div class="avatar-container">
      <app-avatar [src]="guild.icon_url" [alt]="guild.discord_name"></app-avatar>
    </div>
    <div class="card-content">
      <h1>{{ guild.discord_name }}</h1>
      <div class="role-listing">
        <span>42</span>
        <img src="/assets/blizzard/roles/melee.png" alt="Melee DPS" />

        <span>42</span>
        <img src="/assets/blizzard/roles/ranged.png" alt="Ranged DPS" />

        <span>42</span>
        <img src="/assets/blizzard/roles/heal.png" alt="Healers" />

        <span>42</span>
        <img src="/assets/blizzard/roles/tank.png" alt="Tanks" />
      </div>
    </div>
  </aside>

  <div id="guild-event-container">
    <section>
      <h1>Events</h1>
      <pre *ngFor="let event of guild.events; trackBy: trackByEventId">{{ event | json }}</pre>
      <button mat-button (click)="openCreateEventDialog(guild)">Create event</button>
    </section>

    <section>
      <h1>Debug</h1>
      <pre>{{ guild | json }}</pre>
    </section>
  </div>

  <aside id="user-card">
    <h1>My characters</h1>
  </aside>
</ng-container>
