<h1 mat-dialog-title>
  <span>Create an event</span>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</h1>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <section>
      <mat-form-field appearance="standard">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </section>

    <section class="date-selection">
      <mat-form-field class="date-form-field" appearance="standard">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="TODAY" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Timezone</mat-label>
        <mat-select [(value)]="timezone">
          <mat-option value="SERVER_DEFAULT">Server's default</mat-option>
          <mat-option
            *ngFor="let timezone of ALL_TIMEZONES"
            [value]="timezone">{{ TIMEZONE_NAMES[timezone] }}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="createEvent()">Create</button>
</mat-dialog-actions>
